$mobile-MAX-width: "736px";
$mobile: "only screen and (max-width: #{$mobile-MAX-width})";
$mobile-landscape: "#{$mobile} and (orientation: landscape)";
$mobile-portrait: "#{$mobile} and (orientation: portrait)";
/********* TABLET size interval **********/
$tablet-MIN-width: "768px";
$tablet-MAX-width: "1080px";
$tablet: "only screen and (min-device-width : #{$tablet-MIN-width}) and (max-device-width : #{$tablet-MAX-width})";
$tablet-landscape: "#{$tablet} and (orientation: landscape)";
$tablet-portrait: "#{$tablet} and (orientation: portrait)";
.mainContainer{
  max-width: 320px;
  margin: 0 auto;

  @media #{$mobile}, #{$tablet}{
  	max-width: 100%;
  }

  .navbar{
  	//overwrite
  	margin-bottom: 0;
  }

  .search-person, .dial-number{
    height: 50px;
    width: 100%;
    padding: 20px;
  }

  .contacts-list{
  	//overwrite
	padding-left: 0;
  }

  .dial-btns-container{
  	font-size: 0px;
  	display: inline-block;
  	width: 100%;
  	.dialBtn{
		font-size: 15px;
  		display: inline-block;
  		width: 33.3%;
  		height: 45px;
  	}
  }

}