<div class="list-group">
  <input type="text" class="search-person" ng-model="searchFilter" placeholder="Search...">
  <ul class="contacts-list">
    <li ng-repeat="person in contactsList | filter:searchFilter" class="list-group-item">
      <span>{{person.firstname}}</span>
      <span>{{person.lastname}}</span>
    </li>
  </ul>
</div>


