<div>

   <form action="" name="phoneForm">
		<input type="text" name="phoneNumber" ng-maxlength=11 ng-model="number" class="dial-number" ng-pattern="/^\+(?:[0-9] ?){6,14}[0-9]$/" ng-keypress="validNumber()">
   </form>
    
     <div class="dial-btns-container">
    	<button class="dialBtn" ng-click="insertNumber(1)">1</button>
	    <button class="dialBtn" ng-click="insertNumber(2)">2</button>
	    <button class="dialBtn" ng-click="insertNumber(3)">3</button>
	    <button class="dialBtn" ng-click="insertNumber(4)">4</button>
	    <button class="dialBtn" ng-click="insertNumber(5)">5</button>
	    <button class="dialBtn" ng-click="insertNumber(6)">6</button>
	    <button class="dialBtn" ng-click="insertNumber(7)">7</button>
	    <button class="dialBtn" ng-click="insertNumber(8)">8</button>
	    <button class="dialBtn" ng-click="insertNumber(9)">9</button>
	    <button class="dialBtn" ng-click="insertNumber('*')">*</button>
	    <button class="dialBtn" ng-click="insertNumber(0)">0</button>
	    <button class="dialBtn" ng-click="insertNumber('#')">#</button>
    </div>
</div>

